@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #fff;
}
h2 {
  color: #2c2cb9;
}
.navbar li {
  background-color: white;
  border: 2px solid black;
  padding: 4px 12px 4px 12px;
  border-radius: 20px;
  transition: 0.3s;
}
.navbar li:hover {
  background-color: rgb(57, 105, 236);
  color: white;
  transition: 0.3s;
}
.footer li {
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: rgb(57, 105, 236);
  transition: 0.3s;
}
/* Dashboard section */

.sidebar button {
  background-color: rgb(11, 96, 242);
  margin: 16px 0 16px 0;
  width: 180px;
  padding: 6px;
  font-size: 24px;
  border-radius: 8px;
}
.sidebar button:hover {
  background-color: rgb(114, 201, 27);
  transition: 0.3s;
}
.student h1 {
  font-weight: 800;
}
::placeholder {
  padding: 0 0 0 10px;
}
